<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Band Tracker</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/Contents/css/styles.css" type="text/css">
  </head>
  <body>
  <div class="jumbotron">
  <h1 class="title">Band Tracker</h1>
  </div>
  <div class="container">
      @RenderBody()
      </div>
  </body>
</html>
