@{
  Layout="Shared/_Layout.cshtml";
}
<div class="container">

<h1>Are you sure you want to delete this band?</h1>

<form action="/band/delete/@Model.GetId()" method="post">
    <div class="form-group edit-name">
        <label><h2>@Model.GetName()</h2></label>
      <input type="hidden" name="_method" value="DELETE">
    </div>
<div class="buttons">
     <button class="btn btn-lg btn-primary" type="submit">Delete</button>
</div>
</form>

<h3><a href="/venues/new">Add A Venue</a> | <a href="/">Return Home</a> | <a href="/bands/new">Add A Band</a></h3>
</div>
