@{
    Layout="Shared/_Layout.cshtml";
}

<div class="mainpics">
<img class="mainpic1" src="Contents/Images/yellow.jpeg">
<img class="mainpic2" src="Contents/Images/band.jpg">
</div>

<div class="container">
<h2><a href="/venues">View All Venues</a> | <a href="/bands">View All Bands</a></h2>
</div>
