body {
    text-align: center;
    align-items: center;
    font-family: 'Cutive Mono', monospace;
    font-weight: bold;
}

.jumbotron {
    background-image: url('../Images/chalk.jpg');
    background-size: cover;
    height: 300px;
    color: white;
    text-align: center;
    background-position: bottom;
    font-family: 'Barrio', cursive;
    border-bottom: 3px solid gold;
    text-shadow: 3px 2px gold;
}

h1.title {
    font-size: 150px;
}

.mainpics {
    margin-left: 2%;
    margin-right: auto;
}

.mainpic1 {
    width: 45%;
    height: auto;
    border: 2px solid gold;
}

.mainpic2 {
    width: 45%;
    height: auto;
    border: 2px solid gold;
}

h2 {
    text-align: center;
    margin-top: 30px;
    font-size: 50px;
}

h3 {
    font-size: 35px;
    margin-top: 50px;
}

h4 {
    font-size: 37px;
    margin-top: 20px;
}

label {
    font-size: 30px;
}

button {
    margin: 20px;
    font-size: 30px;
}

form {
    margin-top: 40px;
}

input {
    font-size: 25px;
    padding: 8px;
}

select {
    font-size: 25px;
    padding: 8px;
}
